<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 외부 앱 쿼리 허용 -->
    <queries>
        <!-- 브라우저를 호출하기 위한 암시적 인텐트 허용 -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:name=".presentation.MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PresentationSampleArchive"
        tools:targetApi="31">
        <profileable
            android:shell="true"
            tools:targetApi="29" />

        <activity
            android:name=".presentation.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Navigation -->
        <activity
            android:name=".presentation.navigation.NavigationActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.navigation.activity.SourceNavActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.navigation.activity.BridgeNavActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.navigation.activity.DestinationNavActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.navigation.compose.ComposeNavActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.navigation.fragment.dsl.FragmentNavActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.navigation.fragment.xml.XmlFragmentNavActivity"
            android:exported="false" />

        <!-- RecyclerView -->
        <activity
            android:name=".presentation.recyclerview.RecyclerViewActivity"
            android:exported="false" />

        <!-- ViewPager -->
        <activity android:name=".presentation.viewpager.ViewPagerActivity"
            android:exported="false" />

        <!-- Orbit -->
        <activity android:name=".presentation.architecture.orbit.OrbitActivity"
            android:exported="false" />

        <!-- Paging3 -->
        <activity android:name=".presentation.paging.PagingActivity"
            android:exported="false" />

        <!-- LazyColumn -->
        <activity android:name=".presentation.lazylayout.column.LazyColumnActivity"
            android:exported="false" />
    </application>

</manifest>
